---
import { Image } from 'astro:assets';

const {data,id} = Astro.props;
---
<div class="max-w-lg    border  text-white rounded-lg shadow-md p-5">             
    <Image class="w-32 h-32 rounded-full mx-auto" src={data.avatar} alt="Profile picture" />
    <h2 class="text-center text-2xl font-semibold mt-3">{data.name}</h2>            
    <div class="flex justify-center mt-5">
      <a href={data.twitter} class="text-blue-500 hover:text-blue-700 mx-3">Twitter</a>
<a href={data.linkedIn} class="text-blue-500 hover:text-blue-700 mx-3">LinkedIn</a>
<a href={data.github} class="text-blue-500 hover:text-blue-700 mx-3">GitHub</a>
    </div>                      
<div class="mt-5">
<h3 class="text-xl font-semibold">Bio</h3>
<p class=" mt-2">{data.bio}</p>
</div>
<div class="text-center mt-5">
                  <a href={`/blog/${id}`} class="text-blue-500 hover:text-blue-700 mx-3">View Posts</a>              
</div>  
  </div>



