---
//  import { Image } from 'astro:assets';


interface Props {
  autor: any;
  id: string;
}

// const {autor,id} = Astro.props;


---
<!-- <div class="max-w-lg    border  text-white rounded-lg shadow-md p-5">             
    <Image class="w-32 h-32 rounded-full mx-auto" src={autor.avatar} alt="Profile picture" />
    <h2 class="text-center text-2xl font-semibold mt-3">{autor.name}</h2>            
    <div class="flex justify-center mt-5">
      <a href={autor.twitter} class="text-blue-500 hover:text-blue-700 mx-3">Twitter</a>
<a href={autor.linkedIn} class="text-blue-500 hover:text-blue-700 mx-3">LinkedIn</a>
<a href={autor.github} class="text-blue-500 hover:text-blue-700 mx-3">GitHub</a>
    </div>                      
<div class="mt-5">
<h3 class="text-xl font-semibold">Bio</h3>
<p class=" mt-2">{autor.bio}</p>
</div>
<div class="text-center mt-5">
                  <a href={`/blog/${id}`} class="text-blue-500 hover:text-blue-700 mx-3">View Posts</a>              
</div>  
  </div> -->



