---
import { Image ,Picture} from "astro:assets";
import MainLayout from "src/layouts/MainLayout.astro";

import post05Img from "@images/post-05.png";
---
<MainLayout title="Imagenes">
    <h1 class="text-5xl text-white ">Imagenes</h1>

    <Image src={post05Img} alt="Imagen"  width="300" height="300" ></Image>
     <h1>quality low</h1>
     <Image src={post05Img} quality="low" alt="Imagen"  width="300" height="300" ></Image>
     <h1>quality mid</h1>
    <Image src={post05Img} quality="mid" alt="Imagen"  width="300" height="300" ></Image>
     <h1>quality max</h1>
    <Image src={post05Img} quality="max" alt="Imagen"  width="300" height="300" ></Image>
     <h1>quality high</h1>
     <!-- sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${post05Img.width}px`} -->
     <!-- s -->
    <Picture src={post05Img}
    densities={[1.5,2]}    
    formats={["webp","jpg"]} 
    quality="high"
    alt="Imagen"
    width="300"
    height="300" ></Picture>
    
</MainLayout>

<style>
    h1{
        @apply text-white mt-10;
    }
</style>


